<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKARBeD46M5g_-syU_u9uHYaLE3VmJsuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>654759295950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travellingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>travelling-app-7aee1</string>
	<key>STORAGE_BUCKET</key>
	<string>travelling-app-7aee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654759295950:ios:297891406af9a68a34499f</string>
	<key>DATABASE_URL</key>
	<string>https://travelling-app-7aee1-default-rtdb.firebaseio.com</string>
</dict>
</plist>